*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background: #e3edf7;
}
.main-container
{
  margin: 60px auto;
  width: 600px;
}
.heading
{
  font-weight: 700;
  font-size: larger;
  padding-bottom: 10px;
  cursor: pointer;
}
.main
{
  max-height:400px;
  border-radius: 10px;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  line-height: 26px;
  overflow: hidden;
}
.content
{
  overflow: hidden;
  max-height:0;
}
._content
{
  max-height:400px;
  transition:max-height 1s ease-in-out;
}